body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e24d;
}

header {
  background: #3118bd;
  color: rgb(18, 184, 206);
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: rgb(168, 11, 11);
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  background: rgb(207, 10, 40);
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(8, 138, 244, 0.1);
}

footer {
  background: #ed1132;
  color: rgb(21, 170, 234);
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
